MPAssmebleRecipe.APP/DataCollectForResourceInspectTask/Web References/DataCollectForResourceInspectTask/DataCollectForResourceInspectTaskServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://datacollectforresourceinspect.ws.atlmes.com/" targetNamespace="http://datacollectforresourceinspect.ws.atlmes.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.sap.com/me/datacollection" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="ParameterDataType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NUMBER" />
          <xs:enumeration value="TEXT" />
          <xs:enumeration value="FORMULA" />
          <xs:enumeration value="BOOLEAN" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:ns1="http://www.sap.com/me/datacollection" targetNamespace="http://datacollectforresourceinspect.ws.atlmes.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.sap.com/me/datacollection" />
      <xs:element name="baseResponse" type="tns:baseResponse" />
      <xs:element name="dataCollectForResourceInspectTask" type="tns:dataCollectForResourceInspectTask" />
      <xs:element name="dataCollectForResourceInspectTaskRequest" type="tns:dataCollectForResourceInspectTaskRequest" />
      <xs:element name="dataCollectForResourceInspectTaskResponse" type="tns:dataCollectForResourceInspectTaskResponse" />
      <xs:element name="machineIntegrationParametricData" type="tns:machineIntegrationParametricData" />
      <xs:element name="planOfDataCollectForInspectionResponse" type="tns:planOfDataCollectForInspectionResponse" />
      <xs:complexType name="dataCollectForResourceInspectTask">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataCollectForResourceInspectTaskRequest" type="tns:dataCollectForResourceInspectTaskRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dataCollectForResourceInspectTaskRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string" />
          <xs:element name="user" type="xs:string" />
          <xs:element name="dcMode" type="xs:string" />
          <xs:element minOccurs="0" name="executeMode" type="xs:string" />
          <xs:element name="resource" type="xs:string" />
          <xs:element name="operation" type="xs:string" />
          <xs:element name="operationRevision" type="xs:string" />
          <xs:element minOccurs="0" name="dcGroup" type="xs:string" />
          <xs:element minOccurs="0" name="dcGroupRevision" type="xs:string" />
          <xs:element minOccurs="0" name="dcSequence" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="parametricDataArray" type="tns:machineIntegrationParametricData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="machineIntegrationParametricData">
        <xs:sequence>
          <xs:element name="name" type="xs:string" />
          <xs:element name="value" type="xs:string" />
          <xs:element name="dataType" type="ns1:ParameterDataType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dataCollectForResourceInspectTaskResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:planOfDataCollectForInspectionResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planOfDataCollectForInspectionResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseResponse">
            <xs:sequence>
              <xs:element minOccurs="0" name="errorCode" type="xs:int" />
              <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="dataCollectForResourceInspectTaskIn">
    <wsdl:part name="parameters" element="tns:dataCollectForResourceInspectTask" />
  </wsdl:message>
  <wsdl:message name="dataCollectForResourceInspectTaskOut">
    <wsdl:part name="dataCollectForResourceInspectTaskResponse" element="tns:dataCollectForResourceInspectTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="DataCollectForResourceInspectTaskService">
    <wsdl:operation name="dataCollectForResourceInspectTask" parameterOrder="parameters">
      <wsdl:input message="tns:dataCollectForResourceInspectTaskIn" />
      <wsdl:output message="tns:dataCollectForResourceInspectTaskOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DataCollectForResourceInspectTaskServiceBinding" type="tns:DataCollectForResourceInspectTaskService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dataCollectForResourceInspectTask">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataCollectForResourceInspectTaskServiceService">
    <wsdl:port name="DataCollectForResourceInspectTaskServicePort" binding="tns:DataCollectForResourceInspectTaskServiceBinding">
      <address location="http://ndmes1p041.catlbattery.com:52100/atlmeswebservice/DataCollectForResourceInspectTaskServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>