MPAssmebleRecipe.APP/GetParametricValue/Web References/GetParametricValue/GetParametricValueServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://machineintegration.ws.atlmes.com/" targetNamespace="http://machineintegration.ws.atlmes.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://machineintegration.ws.atlmes.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="BusinessException" type="tns:BusinessException" />
      <xs:element name="getParametricValue" type="tns:getParametricValue" />
      <xs:element name="getParametricValueData" type="tns:GetParametricValueData" />
      <xs:element name="getParametricValueRequest" type="tns:GetParametricValueRequest" />
      <xs:element name="getParametricValueRequestData" type="tns:GetParametricValueRequestData" />
      <xs:element name="getParametricValueResponse" nillable="true" type="xs:anyType" />
      <xs:element name="getValue" type="tns:getValue" />
      <xs:element name="getValueResponse" type="tns:getValueResponse" />
      <xs:complexType name="getParametricValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetParametricValueRequest" type="tns:GetParametricValueRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetParametricValueRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string" />
          <xs:element name="sfc" type="xs:string" />
          <xs:element minOccurs="0" name="user" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="parametricDataArray" type="tns:GetParametricValueRequestData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetParametricValueRequestData">
        <xs:sequence>
          <xs:element minOccurs="0" name="parameter" type="xs:string" />
          <xs:element minOccurs="0" name="parameterDec" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getParametricValueResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:GetParametricValueResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetParametricValueResponse">
        <xs:sequence>
          <xs:element name="code" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="sfc" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="parametricDataArray" type="tns:GetParametricValueData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetParametricValueData">
        <xs:sequence>
          <xs:element minOccurs="0" name="parameter" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
          <xs:element minOccurs="0" name="date" type="xs:string" />
          <xs:element minOccurs="0" name="parameterDec" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="BusinessException">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="details" type="xs:anyType" />
          <xs:element name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="suppressed" type="tns:throwable" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="throwable">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stackTraceElement" final="extension restriction">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetParametricValueRequest" type="tns:GetParametricValueRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getValueResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:GetParametricValueResponse" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getParametricValueIn">
    <wsdl:part name="parameters" element="tns:getParametricValue" />
  </wsdl:message>
  <wsdl:message name="getParametricValueOut">
    <wsdl:part name="getParametricValueResponse" element="tns:getParametricValueResponse" />
  </wsdl:message>
  <wsdl:message name="getParametricValueFault">
    <wsdl:part name="BusinessException" element="tns:BusinessException" />
  </wsdl:message>
  <wsdl:message name="getValueIn">
    <wsdl:part name="parameters" element="tns:getValue" />
  </wsdl:message>
  <wsdl:message name="getValueOut">
    <wsdl:part name="getValueResponse" element="tns:getValueResponse" />
  </wsdl:message>
  <wsdl:message name="getValueFault">
    <wsdl:part name="BusinessException" element="tns:BusinessException" />
  </wsdl:message>
  <wsdl:portType name="GetParametricValueService">
    <wsdl:operation name="getParametricValue" parameterOrder="parameters">
      <wsdl:input message="tns:getParametricValueIn" />
      <wsdl:output message="tns:getParametricValueOut" />
      <wsdl:fault name="BusinessException" message="tns:getParametricValueFault" />
    </wsdl:operation>
    <wsdl:operation name="getValue" parameterOrder="parameters">
      <wsdl:input message="tns:getValueIn" />
      <wsdl:output message="tns:getValueOut" />
      <wsdl:fault name="BusinessException" message="tns:getValueFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GetParametricValueServiceBinding" type="tns:GetParametricValueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getParametricValue">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValue">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetParametricValueServiceService">
    <wsdl:port name="GetParametricValueServicePort" binding="tns:GetParametricValueServiceBinding">
      <address location="http://ndmes1p043.catlbattery.com:50300/atlmeswebservice/GetParametricValueServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>