MPAssmebleRecipe.APP/MiAssembleComponentsToSfcs/Web References/MiAssembleComponentsToSfcs/MiAssembleComponentsToSfcsServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://machineintegration.ws.atlmes.com/" targetNamespace="http://machineintegration.ws.atlmes.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://machineintegration.ws.atlmes.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="assembleComponentsToSfcsRequest" type="tns:assembleComponentsToSfcsRequest" />
      <xs:element name="assembleComponentsToSfcsResponse" type="tns:assembleComponentsToSfcsResponse" />
      <xs:element name="assembleData" type="tns:assembleData" />
      <xs:element name="inventoryData" type="tns:inventoryData" />
      <xs:element name="miAssembleComponentsToSfcs" type="tns:miAssembleComponentsToSfcs" />
      <xs:element name="miAssembleComponentsToSfcsResponse" type="tns:miAssembleComponentsToSfcsResponse" />
      <xs:complexType name="miAssembleComponentsToSfcs">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssembleComponentsToSfcsRequest" type="tns:assembleComponentsToSfcsRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="assembleComponentsToSfcsRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string" />
          <xs:element name="operation" type="xs:string" />
          <xs:element minOccurs="0" name="operationRev" type="xs:string" />
          <xs:element name="resource" type="xs:string" />
          <xs:element name="user" type="xs:string" />
          <xs:element name="activity" type="xs:string" />
          <xs:element name="amount" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="assembleDataArray" type="tns:assembleData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="assembleData">
        <xs:sequence>
          <xs:element name="sfc" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="inventoryArray" type="tns:inventoryData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="inventoryData">
        <xs:sequence>
          <xs:element name="inventory" type="xs:string" />
          <xs:element minOccurs="0" name="qty" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miAssembleComponentsToSfcsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:assembleComponentsToSfcsResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="assembleComponentsToSfcsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="failedLocation" type="xs:int" />
          <xs:element minOccurs="0" name="failedSfc" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="miAssembleComponentsToSfcsIn">
    <wsdl:part name="parameters" element="tns:miAssembleComponentsToSfcs" />
  </wsdl:message>
  <wsdl:message name="miAssembleComponentsToSfcsOut">
    <wsdl:part name="miAssembleComponentsToSfcsResponse" element="tns:miAssembleComponentsToSfcsResponse" />
  </wsdl:message>
  <wsdl:portType name="MiAssembleComponentsToSfcsService">
    <wsdl:operation name="miAssembleComponentsToSfcs" parameterOrder="parameters">
      <wsdl:input message="tns:miAssembleComponentsToSfcsIn" />
      <wsdl:output message="tns:miAssembleComponentsToSfcsOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MiAssembleComponentsToSfcsServiceBinding" type="tns:MiAssembleComponentsToSfcsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="miAssembleComponentsToSfcs">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiAssembleComponentsToSfcsServiceService">
    <wsdl:port name="MiAssembleComponentsToSfcsServicePort" binding="tns:MiAssembleComponentsToSfcsServiceBinding">
      <address location="http://ndmes1p041.catlbattery.com:52100/atlmeswebservice/MiAssembleComponentsToSfcsServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>