src/Catl.WebServices/MICheckSFCStatusEx/Pack-003 Pack状态校验-miCheckSFCStatusEx-soapui-project.xml

<wsdl:definitions targetNamespace="http://machineintegration.ws.atlmes.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://machineintegration.ws.atlmes.com/">
  <wsdl:types>
    <xs:schema targetNamespace="http://machineintegration.ws.atlmes.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="changeSFCStatusExRequest" type="tns:changeSFCStatusExRequest"/>
      <xs:element name="miCheckSFCStatusEx" type="tns:miCheckSFCStatusEx"/>
      <xs:element name="miCheckSFCStatusExResponse" type="tns:miCheckSFCStatusExResponse"/>
      <xs:element name="miCommonResponse" type="tns:miCommonResponse"/>
      <xs:complexType name="miCheckSFCStatusEx">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChangeSFCStatusExRequest" type="tns:changeSFCStatusExRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="changeSFCStatusExRequest">
        <xs:sequence>
          <xs:element name="site" type="xs:string"/>
          <xs:element name="operation" type="xs:string"/>
          <xs:element minOccurs="0" name="operationRevision" type="xs:string"/>
          <xs:element name="sfc" type="xs:string"/>
          <xs:element minOccurs="0" name="isGetSFCFromCustomerBarcode" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miCheckSFCStatusExResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:miCommonResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="miCommonResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:int"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="miCheckSFCStatusExIn">
    <wsdl:part element="tns:miCheckSFCStatusEx" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="miCheckSFCStatusExOut">
    <wsdl:part element="tns:miCheckSFCStatusExResponse" name="miCheckSFCStatusExResponse"/>
  </wsdl:message>
  <wsdl:portType name="MiCheckSFCStatusExService">
    <wsdl:operation name="miCheckSFCStatusEx" parameterOrder="parameters">
      <wsdl:input message="tns:miCheckSFCStatusExIn"/>
      <wsdl:output message="tns:miCheckSFCStatusExOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MiCheckSFCStatusExServiceBinding" type="tns:MiCheckSFCStatusExService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="miCheckSFCStatusEx">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiCheckSFCStatusExServiceService">
    <wsdl:port binding="tns:MiCheckSFCStatusExServiceBinding" name="MiCheckSFCStatusExServicePort">
      <soap:address location="http://ndmesd093.CATLBattery.com:50000/atlmeswebservice/MiCheckSFCStatusExServiceService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>